@tailwind base;
@tailwind components;
@tailwind utilities;

.icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
}
.icons a:hover{
    background-color: #0ef;
    color: black;
    box-shadow: 0 0 20px #0ef;
}
.btn{
    box-shadow: 0 0 10px #0ef;
    padding: 15px;
}
.heading{
    font-size: 56px;
    font-weight: 700;

}
.head1{
    font-size: 40px;
    font-weight: 500;
}
.logo{
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}