*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn{
    padding: 0.7rem 2rem;
    background-color: rgb(235, 72, 72);
    border: none;
    font-size: 1rem;
    box-shadow: rgb(211, 189, 189) 4px 4px;
    position: relative;
    z-index: 0;
    color: wheat;
}

.btn::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
    transition: all 1s;
}

.btn:hover::before{
    transform: scaleX(1);
}
